[build]
  publish = "."

[[redirects]]
  # Ana sayfa için
  from = "/"
  to = "/index.html"
  status = 200

[[redirects]]
  # Tüm diğer yolları index.html'e yönlendir (SPA için)
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

